# dados brutos - não versionar
data/raw/*
data/reference/*
# reads trimadas - intermediario, não versionar
results/trimmed/*.fastq
# arquivos de alinhamento grandes
*.sam
*.bam
!results/aligned/flagstat.txt
# temporários
*.tmp
.DS_Store
# ambiente
__pycache__/
*.pyc
